[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
asyncpg = "*"
gunicorn = "*"
python-dotenv = "*"
bcrypt = "*"
pyjwt = {extras = ["crypto"], version = "*"}
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.12"
